/**/

#cabecalho{
  background-color: #9ed9e4;
  border-bottom: solid #CCC 1px;
  text-align: center;
}

h3{
  color: #0B7D89;
  margin: 20px;
}

.respostas{
 margin-top: 20px;
 margin-bottom: 20px;
 text-align: center;
}

p{
  margin-top: 20px;
  background-color: #62c2d4;
}

.btn{
  margin-top: 10px;
}

body{
  background-color: #CEF9FF;
}